	<?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			xmlns:android="http://schemas.android.com/apk/res/android"
			id="org.apache.cordova.wavemark"
			version="0.0.5">

	  <name>WatermarkPicker</name>

	  <description>
		WatermarkPicker Plugin 
	  </description>

	  <license>ASMITA</license>

	  <engines>
		<engine name="cordova" version=">=3.0.0"/>
	  </engines>

	  <js-module src="www/wavemark.js" name="wavemark">
		<clobbers target="window.plugins.wavemark" />
	  </js-module>

	 
	  <!-- android -->
	  <platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
		  <feature name="WavemarcPicker">
			<param name="android-package" value="org.apache.cordova.wavemark.WavemarcPicker" />
		  </feature>
		</config-file>

		<source-file src="src/android/org/apache/cordova/wavemark/WavemarcPicker.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/WatermarkDetectorApp.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/WavemarkHelper.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/WatermarkAdapter.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/UtilFunctions.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/ResponseModal.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/Media_Util.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/ImageService.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/GPSDemo.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/DummyActivity.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/DatabaseHandler.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/CustomMultiPartEntity.java" target-dir="src/org/apache/cordova/wavemark"/>
		 <source-file src="src/android/org/apache/cordova/wavemark/Constants.java" target-dir="src/org/apache/cordova/wavemark"/>
		 
		 <config-file target="AndroidManifest.xml" parent="/manifest">
				
				 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.yourwellness.ngage.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.yourwellness.ngage.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
			</config-file>

			<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="org.apache.cordova.wavemark.WavemarcPicker"
                    android:finishOnTaskLaunch="true"
                    android:launchMode="singleInstance"
                    android:noHistory="true"
                    >
                <intent-filter>
                    
                </intent-filter>
               
            </activity>
			<activity
                    android:name="org.apache.cordova.wavemark.DummyActivity">
			</activity>
			<activity
                    android:name="org.apache.cordova.wavemark.GPSDemo">
			</activity>
			<activity
                    android:name="org.apache.cordova.wavemark.WatermarkDetectorApp">
			</activity>
			<service  android:name="org.apache.cordova.wavemark.ImageService" >
            
        </service>
        </config-file>

	 <source-file src="lib/android/AlgorithmManager.jar" target-dir="libs"/>
	 <source-file src="lib/android/SITMarkAudioAnnotationAlgoManWrapper-1.2.jar" target-dir="libs"/>
	 <source-file src="lib/android/SITMarkJNIHelper-0.5.jar" target-dir="libs"/>
	 <source-file src="lib/android/armeabi/libawt3-sdk.so" target-dir="libs/armeabi"/>
	<source-file src="lib/android/armeabi/libSITMarkAudioAnnotation.so" target-dir="libs/armeabi/"/>
	<source-file src="lib/android/armeabi-v7a/libawt3-sdk.so" target-dir="libs/armeabi-v7a"/>
	<source-file src="lib/android/armeabi-v7a/libjingle_peerconnection_so.so" target-dir="libs/armeabi-v7a"/>
	<source-file src="lib/android/armeabi-v7a/libSITMarkAudioAnnotation.so" target-dir="libs/armeabi-v7a"/>
	<source-file src="lib/android/mips/libSITMarkAudioAnnotation.so" target-dir="libs/mips"/>
	 <source-file src="lib/android/x86/libSITMarkAudioAnnotation.so" target-dir="libs/x86"/>

	  </platform>

	</plugin>// Java Document